@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 40% 98%;

    --secondary: 42.4 100% 50%;
    --secondary-foreground: 222.2 47.4% 11.2%;
  }

  body {
    @apply bg-white text-gray-900 font-sans antialiased;
  }
}
